<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
  <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
	<style>
    * {
      box-sizing: border-box;
    }

    body {
      background: #F5B7B1;
      background-image: url('http://moziru.com/images/dalmation-clipart-cute-2.gif');
    }

		#user-menu {
          padding-right: 50px;
          margin-right: 0px;
          background: black;
          color: white;
          border-radius: 10px 10px 10px 10px;
          margin-top: 25px;

        }


		
		#grid-layout {
			margin-left: 16%;
			border: 5px solid white;
			width: 1140px;
			background: #A6A0A0;
			background-size: cover;
			border-radius: 30px;
		}

    #navbar-header {
      background: black;
      border: 2px solid white;
      color: white;
      display: inline;
      margin-top: 25px;
    }

        #nav-header {
          float: right;
          padding-right: 20px;
          
          margin-left: 20px;
          margin-top: 25px;
          font-family: 'Bungee Inline';
          font-weight: 900;
          color: white;
          font-size: 70px;
          margin-bottom: 15px;
       
        }

        h1 {
          font-family: 'Bungee Inline';
          color: black;
          text-shadow: 2px 2px 2px grey;
          margin-top: 15px;
          
        }
        #header-home {
          font-size: 100px;
        }
        a {
          left: 20px;
          margin-left: 10px;
          font-size: 20px;
          
          font-family: 'Bungee Inline';
          float: right;
        }


        div .card {
          margin: 15px;
          /*border: 2px solid #F5B7B1;*/
          border-radius: 30px;
          padding: 10px;
          box-shadow: 5px 5px 5px black;
        }

        .card-img-top {
            border-radius: 20px;
            max-height: 800px;
        }

        #web-btn {
          text-align: center;
        }

        h4 {
          font-family: 'Bungee Inline';
          font-size: 25px;

        }

        #post-btn {
          font-family: 'Bungee Inline'

        }

        #comment-box {
          border: 3px solid black;
          border-radius: 5px;
          height: 35px;
          width: 250px;
        }

	</style>
</head>
<body>
	

 
   <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        
      </button>
      
      </div>


      <div class="collapse navbar-collapse" id="user-menu">
        <ul class="nav navbar-nav" id="nav-items">
           
           <li><a href="#" id="signup">Search</a></li> 
           <li><a href="/" id="logout">Logout</a></li>
           
            
        </ul>
        <a id="nav-header" class="navbar-brand">Home</a>
      </div>
    </div>
  </nav>

  <main>

  	<div id="grid-layout" class="row justify-content-md-center">
      <%for (let i = 0; i < shelters.length; i ++){%>
          <div class="card col-md-5 text-center">
            <img class="card-img-top" src="<%=shelters[i].image_url%>" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><%=shelters[i].name%></h4>
              <h6 class="card-subtitle mb-2"><%=shelters[i].display_phone%> <br> <%=shelters[i].location.display_address%> <br> </h6>
              <p><a id="web-btn" href="<%=shelters[i].url%>" class="btn btn-primary" target="_blank">Website</a></p>

              
              
            </div>
              <form method="POST" action="/commentGrabber">
                <input id="comment-box" type="text" name="comment" placeholder="Add a comment!"  />
                <input id="post-btn" class="btn-secondary"  type="submit" value="Post"  />
              </form> 
          </div>
              
        <%}%>
		
  	</div>	




    <!-- jQuery  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    

    <script>
      $("form").on("submit", function(event) {
        console.log('were doing shit');
          event.preventDefault();
          
          var formData = $(this).serialize();
          console.log(formData);
          

          console.log($("input[name=comment]").val());
      });

    </script>


    <% include ./partials/footer.ejs %>
    

