<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
  <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
	<style>
    * {
      box-sizing: border-box;
    }

    body {
      background: #F5B7B1;
      background-image: url('http://moziru.com/images/dalmation-clipart-cute-2.gif');
    }

		#user-menu {

          padding-right: 50px;
          width: 1140px;
          margin-right: 0px;
          background: black;
          color: white;
          border-radius: 10px 10px 10px 10px;
          margin-top: 25px;

        }


		
		#grid-layout {
			margin-left: 8%;
			border: 5px solid white;
			width: 1140px;
			background: #A6A0A0;
			background-size: cover;
			border-radius: 30px;
		}

    #navbar-header {
      background: black;
      width: 1140px;
      border: 2px solid white;
      color: white;
      display: inline;
      margin-top: 25px;
    }

        #nav-header {
          float: right;
          padding-right: 20px;
          
          margin-left: 20px;
          margin-top: 25px;
          font-family: 'Bungee Inline';
          font-weight: 900;
          color: white;
          font-size: 70px;
          margin-bottom: 15px;
       
        }

        h1 {
          font-family: 'Bungee Inline';
          color: black;
          text-shadow: 2px 2px 2px grey;
          margin-top: 15px;
          
        }
        #header-home {
          font-size: 100px;
        }
        a {
          left: 20px;
          margin-left: 10px;
          font-size: 20px;
          
          font-family: 'Bungee Inline';
          float: right;
        }


        div .card {
          margin: 15px;
          /*border: 2px solid #F5B7B1;*/
          border-radius: 30px;
          padding: 10px;
          box-shadow: 5px 5px 5px black;
        }

        .card-img-top {
            border-radius: 20px;
            max-height: 800px;
        }

        #web-btn {
          text-align: center;
        }

        h4 {
          font-family: 'Bungee Inline';
          font-size: 25px;

        }

        #post-btn {
          font-family: 'Bungee Inline'

        }

        #comment-box {
          border: 3px solid black;
          border-radius: 5px;
          height: 35px;
          width: 250px;
        }

        ul {
          list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAH6SURBVEhL7dVJSFVhGIfxk7XIBnQTZNMqUHDRsHBjNC4CM8IQRTfRthDaFLVRKCKXRRA0UNRGSiWCIBCCwIUkFYQLGzEHNCoVi0gqzOc5A7i43e490kr/8MPzfnKG7zvvd26w4LIGjdHh/8lhvMYkKhyIswQ3URRW80gVZvAWH/EZq2Ca8QefUO9A2vRgCKuxH160AZXxcRde4he2IFW+4E50GJTAC5/CVfxAMdbGx1eQV1zv5ejGGPbiArxJNToxjCTv8DA6zD1H4Em1mIAXVwcKcCKuLyG5eQtyziG4xp74E02ow044Q1MIl/E3bIwHcIYuaU55A7tpB17AmfytTVdiHc7jK9qxAlljezqDs2EVPZ31gbDKHC/sbHrjv/9sgGWwU+6GVdSu3uQgbOOjOIaNMOXw/61hFQRt+A7fW9ZchCc+xRTsLpfEZXRcjm+D78p6F8w5WPtAWbMULtdz2KplOANPrsFWuH/ux8eOX4cb9D1eIe+40z9gIKyi3MM4NuAWvJG+YR9yjjO6AU8exW4k2YNpOCPHbW/31ibkFV+wN7iG5KM4N74Tv2sjsGFSxQ02d4ky5Th8kM1hlSLOwHZcH1ZRW5bCj2KS23DXuylTxT2QrPsjDMKnduwJnsX1Zcwr2+Gy9eMxTsNu6oO/NSeR+n0sJkOCYBYlsH/hsO17AQAAAABJRU5ErkJggg==");
          
        }

        li {
          font-family: 'Bungee Inline';
          border-bottom: 1px dashed black;
        }

	</style>
</head>
<body>
	

 
   <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        
      </button>
      
      </div>


      <div class="collapse navbar-collapse" id="user-menu">
        <ul class="nav navbar-nav" id="nav-items">
           
           <li><a href="#" id="signup">Search</a></li> 
           <li><a href="/" id="logout">Logout</a></li>
           
            
        </ul>
        <a id="nav-header" class="navbar-brand">Home</a>
      </div>
    </div>
  </nav>

  <main>

  	<div id="grid-layout" class="row justify-content-md-center">
      <%for (let i = 0; i < shelters.length; i ++){%>
         
          <div class="card col-md-5 text-center">
            <img class="card-img-top" src="<%=shelters[i].image_url%>" alt="Card image cap">


            <div data-id="<%=shelters[i]._id%>" class="card-body">
              <h4 class="card-title"><%=shelters[i].name%></h4>
              <h6 class="card-subtitle mb-2"><%=shelters[i].display_phone%> <br> <%=shelters[i].location.display_address%> <br> </h6>
              <p><a id="web-btn" href="<%=shelters[i].url%>" class="btn btn-primary center-justify" target="_blank">Yelp Page</a></p>
            </div>
              
              
              <form data-id="<%=shelters[i]._id%>" method="POST" action="/commentGrabber">
                <input id="comment-box" type="text" name="comment" placeholder="Add a comment!"  />
                <input id="post-btn" class="btn-secondary"  type="submit" value="Post"  />
              </form> 

              <div id="comments">
                <%for (let index = 0; index < shelters[i].comments.length; index++) {%>
                  <ul>
                    <li><%=shelters[i].comments[index]%></li>
                  </ul> 
               <% } %>
               </div>
              
          </div>
          <div>


          </div>    
        <%}%>
	
  	</div>	




    <!-- jQuery  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    

    <script>
      $("form").on("submit", function(event) {
          event.preventDefault();
          
          var formData = $(this).serialize();
         // console.log(formData);
         // console.log($(this).attr("data-id"));

          var ShelterId = $(this).attr("data-id");
          console.log(ShelterId);
          

          console.log($("input[name=comment]").val());

          $.post('/commentGrabber/'+ShelterId, formData).done(function(responseData) {
            console.log(responseData);
          });  


          //send ajax with id and comment. match id and add to the comment params
          //MONGOOSE LESSONS!!!!
      });

    </script>


    <% include ./partials/footer.ejs %>
    

